streamlit==1.24.0
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
soundfile==0.12.1
matplotlib==3.7.1
joblib==1.2.0
audioread==3.0.0
numba==0.56.4
pooch==1.6.0
librosa==0.10.0
cffi==1.15.1
llvmlite==0.39.1
soxr==0.3.5
typing-extensions>=4.4.0
scipy==1.10.1
